*{
    padding:0;
    margin:0;
    list-style: none;
}
.clearfix:after{
    display: block;
    content:"";
    clear: both;
}
.clearfix{
    zoom:1;
}
.fl{
    float:left;
}
.fr{
    float:right;
}


.home_box .home_nav{
    height:72px;
    width:100%;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
    z-index: 1000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.home_box .home_nav .home_header{
    position: relative;
}

.home_box .home_nav .home_header .home_headline{
    font-size:35px;
    cursor: pointer;
    line-height: 70px;
}


.home_box .home_nav .home_header .home_module{
    position: absolute;
    top:0;
    right:0;
}
.home_box .home_nav .home_header .home_module>li{
    position: relative;
}
.home_box .home_nav .home_header .home_module>li>div{
    height:72px;
    position: absolute;
    line-height: 70px;
    padding-left:15px;
    padding-right:15px;
    cursor: pointer;
    color: #262626;
    transition: .3s ease-in all;
}

.home_box .home_nav .home_header .home_module>li:nth-of-type(1) div{
    left:-180px;
}

.home_box .home_nav .home_header .home_module>li:nth-of-type(2) div{
    left:-120px;
}

.home_box .home_nav .home_header .home_module>li:nth-of-type(3) div{
    left:-60px;
}

.home_box .home_nav .home_header .home_module>li>div:hover{
    background:black;
    color:#fdcf00;
}

.home_box .home_nav .home_header .home_module>li:nth-of-type(1)>ol{
    position: absolute;
    left: -179px;
    top: 72px;
    display: none;
}
.home_box .home_nav .home_header .home_module>li:nth-of-type(2)>ol{
    position: absolute;
    left:-120px;
    top:72px;
    display: none;
}
.home_box .home_nav .home_header .home_module>li:nth-of-type(3)>ol{
    position: absolute;
    left:-60px;
    top:72px;
    display: block;
}
.home_box .home_nav .home_header .home_module>li>ol{
    box-shadow: 0 0 7px 0 #ddd;
    background: #fff;
}
.home_box .home_nav .home_header .home_module>li>ol li{
    width:200px;
    height:45px;
    line-height: 45px;
    font-size:16px;
    cursor: pointer;
    color: #262626;
    transition: .3s ease-in all;
    padding-left:15px;
    box-sizing: border-box;
}
.home_box .home_nav .home_header .home_module>li>ol li:hover{
    background:black;
    color:#fdcf00;
}


@media screen and (min-width: 1200px){
    .home_box .home_nav .home_header{
        height:72px;
        width:1200px;
        margin:0 auto 0;
    }
}

