body{
    background: #f8fafc;
}

.home_box .home_nav{
    height:72px;
    width:100%;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
    z-index: 1000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.home_box .home_nav .home_header{
    position: relative;
}

.home_box .home_nav .home_header .home_headline{
    font-size:35px;
    cursor: pointer;
    line-height: 70px;
    padding-left:20px;
    box-sizing: border-box;
}


.home_box .home_nav .home_header .home_module{
    position: absolute;
    top:0;
    right:0;
}
.home_box .home_nav .home_header .home_module>li{
    position: relative;
}
.home_box .home_nav .home_header .home_module>li>div{
    height:72px;
    position: absolute;
    line-height: 70px;
    padding-left:15px;
    padding-right:15px;
    cursor: pointer;
    color: #262626;
    transition: .3s ease-in all;
}

.home_box .home_nav .home_header .home_module>li:nth-of-type(1) div{
    left:-250px;
}

.home_box .home_nav .home_header .home_module>li:nth-of-type(2) div{
    left:-192px;
}

.home_box .home_nav .home_header .home_module>li:nth-of-type(3) div{
    left:-100px;
}

.home_box .home_nav .home_header .home_module>li>div:hover{
    background:black;
    color:#fdcf00;
}
.home_box .home_nav .home_header .home_module>li>.home_hover{
    background:black;
    color:#fdcf00;
}


.home_box .home_nav .home_header .home_module>li:nth-of-type(1)>ol{
    position: absolute;
    left: -250px;
    top: 72px;
}
.home_box .home_nav .home_header .home_module>li:nth-of-type(2)>ol{
    position: absolute;
    left:-192px;
    top:72px;
}
.home_box .home_nav .home_header .home_module>li:nth-of-type(3)>ol{
    position: absolute;
    left:-100px;
    top:72px;
}
.home_box .home_nav .home_header .home_module>li>ol{
    box-shadow: 0 0 7px 0 #ddd;
    background: #fff;
}
.home_box .home_nav .home_header .home_module>li>ol li{
    width:200px;
    height:45px;
    line-height: 45px;
    font-size:16px;
    cursor: pointer;
    color: #262626;
    transition: .3s ease-in all;
    padding-left:15px;
    box-sizing: border-box;
}
.home_box .home_nav .home_header .home_module>li>ol li:hover{
    background:black;
    color:#fdcf00;
}


@media screen and (min-width: 1200px){
    .home_box .home_nav .home_header{
        height:72px;
        width:1200px;
        margin:0 auto 0;
    }
    .home_box .home_nav .home_header .home_module2 .home_module2_btn,.home_box .home_nav .home_header .home_module2 .home_module2_menu{
        display:none;
    }
}
@media screen and (max-width: 1200px){
    .home_box .home_nav .home_header .home_module{
        display: none;
    }
    .home_box .home_nav .home_header .home_module2 .home_module2_background{
        width: 100%;
        height: 0;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.7);
        transition: 0.3s all;
        -webkit-transition: 0.3s all;
    }
    .home_box .home_nav .home_header .home_module2 .home_module2_btn{
        display:block;
    }
    .home_box .home_nav .home_header .home_module2 .home_module2_menu{
        width: 200px;
        background: rgba(49, 152, 242, .8);
        position: fixed;
        height: 100%;
        overflow: auto;
        top: 0;
        right: -200px;
        transition: 0.6s all;
        -webkit-transition: 0.6s all;
    }
    .home_box .home_nav .home_header .home_module2 .home_module2_menu ul{
        text-align: center;
    }
    .home_box .home_nav .home_header .home_module2 .home_module2_menu ul li{
        border: none;
        border-bottom: solid 1px #378fdd;
        line-height: normal;
        padding: 12px 0;
        color: #fff;
        cursor:pointer;
    }

    .home_box .home_nav .home_header .home_module2 .home_module2_menu.active{
        right:0;
    }

}

.home_box .home_nav .home_header .home_module2 .home_module2_background.active{
    height:100%;
}

.home_box .home_nav .home_header .home_module2 .home_module2_btn{
    position: fixed;
    right: 20px;
    top: 25px;
    width: 32px;
    text-align: center;
    cursor: pointer;
    z-index: 100;
    /* display: none; */
    transition: 0.4s all;
    -webkit-transition: 0.4s all;
    z-index: 800;
}
.home_box .home_nav .home_header .home_module2 .home_module2_btn.active{
    right:220px;
}
.home_box .home_nav .home_header .home_module2 .home_module2_btn span{
    display: block;
    width: 100%;
    height: 3px;
    /* background: #4b4646; */
    background: #444b4e;
    margin-bottom: 8px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
}

.home_box .home_nav .home_header .home_module2 .home_module2_btn.active span:nth-of-type(1){
    -webkit-transform:translate(0,5px) rotate(-45deg);
    background:#fff;
}
.home_box .home_nav .home_header .home_module2 .home_module2_btn.active span:nth-of-type(2){
    display: none;
}
.home_box .home_nav .home_header .home_module2 .home_module2_btn.active span:nth-of-type(3){
    -webkit-transform:translate(0,-5px) rotate(45deg);
    background:#fff;
}



@media screen and (min-width: 1800px){
    .home_box .home_nav .home_header{
        height:72px;
        width:1600px;
        margin:0 auto 0;
    }
}

.home_nav_headline_first{
    padding: 118px 0 30px;
    font-size: 28px;
    line-height: 1;
    color: #333;
    font-weight: 200; 
    text-align: center;
}
.home_nav_headline{
    padding: 48px 0 30px;
    font-size: 28px;
    line-height: 1;
    color: #333;
    font-weight: 200; 
    text-align: center;
}

.home_box .home_nav_content{
    overflow-x:hidden;
    overflow-y:hidden;
}
.home_box .home_nav_content .home_nav_content_list{
    height:295px;
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
    border:1px solid #fff;
    margin-top:10px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s ease-in all;
    animation:laowang 2s forwards;
}

	/*定义*/
	/* @keyframes laowang{
		from{
			transform:translateX(-100px);	
		}
		to{
			transform:translateX(0px);	
		}	
	} */

.home_box .home_nav_content .home_nav_content_list:hover{
    box-shadow: 0 9px 18px 0 rgba(7,17,27,.1);
}
.home_box .home_nav_content .home_nav_content_list:hover ul li:nth-of-type(1) {
    transition: .5s ease all;
    transform:scale(1,1.1);
}

.home_box .home_nav_content .home_nav_content_list ul{
    height:295px;
    width:100%;
    border-radius: 6px;
    position: relative;
}

.home_box .home_nav_content .home_nav_content_list ul li:nth-of-type(1){
    height: 96px;
    width:100%;
    overflow: hidden;
    border-radius: 6px  6px 0 0;
    position: relative;
}

.home_box .home_nav_content .home_nav_content_list ul li:nth-of-type(1) img{
    position: absolute;
    left:0;
    width:100%;
}


.home_box .home_nav_content .home_nav_content_list ul li:nth-of-type(2){
    text-align: center;
    color: #07111b;
    font-size: 22px;
    padding-top:18px;
    padding-bottom:10px;
    box-sizing: border-box;
}

.home_box .home_nav_content .home_nav_content_list ul li:nth-of-type(3){
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #93999f;
    padding-left:10px;
    padding-right:10px;
    box-sizing: border-box;
}
.home_box .home_nav_content .home_nav_content_list ul li:nth-of-type(4){
    width:98%;
    position: absolute;
    left:10px;
    bottom:15px;
    box-sizing: border-box;
}
.home_box .home_nav_content .home_nav_content_list ul li:nth-of-type(4) strong{
    padding-right:15px;
}

.home_tail{
    padding:50px 0 10px;
}
.home_tail p{
    text-align: center;
    margin-bottom: 0;
}




